.FormHeader {
  text-align: center;
}

.Total {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.Total span {
  font-size: 1.5rem;
  line-height: 1.625rem;
  font-weight: 700;
  margin-left: 20px;
}
